#header{
	background: #040e27;
}
.hello{
	height: 600px;
	width: 100%;
}
.ananas{
	height: 500px;
	width: 40%;
}
.couleurs{
background-position: 
	height: 500px;
	width: 40%;
}
.electronique{
	height: 500px;
	width: 40%;
}
.pinceau{
	height: 500px;
	width: 40%;
}
.simple{
	height: 500px;
	width: 40%;
}
